body {
    background: #F6F6F6;
}

header {
    background: #fff;
}

.logo-container h1 {
    color: #545454;
}

.logo-container p {
    color: #545454;
}

.nav-menu__list li._active-page>a {
    color: #292929;
}

.nav-menu__list li>a {
    font-size: 15px;
    color: #545454;
    position: relative;
}

.nav-menu__list li:hover a {
    color: inherit;
}

/* our pets */
.our-friends {
    margin-top: 120px;
}

.our-friends {
    padding: 48px 0 75px;
}

.our-friends.container {
    display: flex;
    gap: 0px;
    flex-direction: column;
}

.our-friends-container {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.our-friends-container.lower-block {
    margin-top: 30px;
}

.nav-right::after,
.nav-left::after {
    display: none;
}

.friends-item {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    background: #fafafa;
    padding-bottom: 30px;
    border-radius: 9px;
    transition: 0.3s ease;
    cursor: pointer;
    border: 0px solid var(--button-border-color);
    scale: 1;
}

.friends-item:hover {
    background: #fff;
    scale: 1.05;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.05);
}

.friends-item:hover .button-border-bg {
    border: 2px solid var(--button-orange-bg-hover);
    background: var(--button-orange-bg-hover);
}

.our-friends-container .friends-item img {
    max-width: 100%;
    margin: 0 auto;
}

.friends-item p.pet-name {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
}

.friends-item a {
    width: 70%;
    padding: 15px 0px;
    color: #000;
    margin-top: 4px;
    transition: 0.3s ease;
}

/* pagiination */
.friends-pagination {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pagination-arrows {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    padding-top: 20px;
}

.pagination-arrows._inactive {
    border: 2px solid #CDCDCD;
    cursor: not-allowed;
}

.pagination-arrows._active {
    border: 2px solid #F1CDB3;
}

.pagination-arrows._active:hover,
.pagination-arrows._active:active {
    border: 2px solid var(--button-orange-bg);
    background: var(--button-orange-bg);
}

.pagination-arrows.page-number {
    background: #F1CDB3;
    text-decoration: underline;
}


@media(max-width:900px) {
    .our-friends-container {
        flex-wrap: wrap;
    }
}

@media(max-width:769px) {
    .our-friends-container {
        gap: 31px 38px;
        margin-top: 33px;
    }

    .tablet-display-none {
        display: none;
    }

    .friends-pagination {
        margin-top: 41px;
    }

    .our-friends {
        padding: 48px 0 46px;
    }
}

@media(max-width:425px) {
    .mobile-display-none {
        display: none;
    }

    .our-friends-container {
        gap: 31px 38px;
        margin-top: 42px;
    }

    .our-friends .container {
        padding: 35px 0px;
    }

    .friends-pagination {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .friends-pagination {
        margin-top: 14px;
    }

    .our-friends {
        padding: 7px 0 12px;
    }
    .footer-container {
        padding: 25px 10px 0;
    }
}