body {
    background: #F6F6F6;
}

header {
    background: #fff;
}

.logo-container h1 {
    color: #545454;
}

.logo-container p {
    color: #545454;
}

.nav-menu__list li._active-page>a {
    color: #292929;
}

.nav-menu__list li>a {
    font-size: 15px;
    color: #545454;
    position: relative;
}

.nav-menu__list li:hover a {
    color: inherit;
}

.our-friends {
    margin-top: 120px;
    height: 1342px;
}