body {
    background: #F6F6F6;
}

header {
    background: #fff;
}

.logo-container h1 {
    color: #545454;
}

.logo-container p {
    color: #545454;
}

.nav-menu__list li._active-page>a {
    color: #292929;
}

.nav-menu__list li>a {
    font-size: 15px;
    color: #545454;
    position: relative;
}

.nav-menu__list li:hover a {
    color: inherit;
}

.nav-menu__list {
    margin-top: -3px;
    position: relative;
    display: flex;
    gap: 36px;
}

.nav-menu__list li {
    position: relative;
}

.nav-menu__list li._active-page>a {
    color: #fff;
}

.nav-menu__list li>a {
    font-size: 15px;
    color: #CDCDCD;
    position: relative;
}


.nav-menu__list li._active-page::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--button-orange-bg);
    bottom: -7px;
    left: 0;
    transition: 0.3s ease;
}

.nav-menu__list li::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: var(--button-orange-bg);
    bottom: -7px;
    left: 0;
    transition: 0.3s ease;
}

.nav-menu__list li:active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--button-orange-bg);
    bottom: -7px;
    left: 0;
}

.nav-menu__list li:hover a {
    color: #fff;
}


.menu-burger {
    display: none;
}

.overlay {
    display: none;
}

/* our pets */
.our-friends {
    margin-top: 120px;
}

.our-friends {
    padding: 48px 0 75px;
}

.our-friends.container {
    display: flex;

    gap: 0px;
    flex-direction: column;
}

.our-friends-container {
    position: relative;
    display: flex;
    flex: 0 0 calc(100% / 4);
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
    flex-wrap: wrap;
}

.our-friends-container.lower-block {
    margin-top: 30px;
}

.nav-right::after,
.nav-left::after {
    display: none;
}

.friends-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    background: #fafafa;
    padding-bottom: 30px;
    border-radius: 9px;
    transition: 0.3s ease;
    cursor: pointer;
    border: 0px solid var(--button-border-color);
    scale: 1;
}

.friends-item:hover {
    background: #fff;
    scale: 1.05;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.05);
}

.friends-item:hover .button-border-bg {
    border: 2px solid var(--button-orange-bg-hover);
    background: var(--button-orange-bg-hover);
}

.our-friends-container .friends-item img {
    max-width: 100%;
    margin: 0 auto;
}

.friends-item p.pet-name {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
}

.friends-item a {
    width: 70%;
    padding: 15px 0px;
    color: #000;
    margin-top: 4px;
    transition: 0.3s ease;
}

/* pagiination */
.friends-pagination {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pagination-arrows {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    padding-top: 20px;
}

.pagination-arrows._inactive {
    border: 2px solid #CDCDCD;
    cursor: not-allowed;
}

.pagination-arrows._active {
    border: 2px solid #F1CDB3;
}

.pagination-arrows._active:hover,
.pagination-arrows._active:active {
    border: 2px solid var(--button-orange-bg);
    background: var(--button-orange-bg);
}

.pagination-arrows.page-number {
    background: #F1CDB3;
    text-decoration: underline;
}

.no-overflow {
    overflow-y: hidden;
}

.button-border-bg {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    width: fit-content;
    border: 2px solid var(--button-border-color);
    border-radius: 100px;
    letter-spacing: 0.06em;
    transition: 0.3s ease;
    padding: 10px 20px;
    background: transparent;
}

@media(max-width:900px) {
    .our-friends-container {
        flex-wrap: wrap;
    }
}

@media(max-width:700px) {
    .menu-burger {
        display: block;
    }

    .nav-menu__list li>a {
        font-size: 2.3em;
    }

    .menu-burger div {
        background: #000000;
    }

    .menu-burger div::before,
    .menu-burger div::after {
        background: #000000;
    }

    .modal-item img {
        display: none;
    }

    .nav-menu {
        position: fixed;
        height: 100%;
        top: 0;
        right: -100%;
        width: 85%;
        background: #292929;
        transition: 0.3s ease-in-out;
        z-index: 10;
    }

    .nav-menu._active {
        right: 0;
    }

    .nav-menu__list {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:769px) {
    .our-friends-container {
        gap: 31px 38px;
        margin-top: 33px;
    }

    .tablet-display-none {
        display: none;
    }

    .friends-pagination {
        margin-top: 41px;
    }

    .our-friends {
        padding: 48px 0 46px;
    }
}

@media(max-width:425px) {
    .mobile-display-none {
        display: none;
    }

    .our-friends-container {
        gap: 31px 38px;
        margin-top: 42px;
    }

    .our-friends .container {
        padding: 35px 0px;
    }

    .friends-pagination {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .friends-pagination {
        margin-top: 14px;
    }

    .our-friends {
        padding: 7px 0 12px;
    }

    .footer-container {
        padding: 25px 10px 0;
    }
}