@import url(reset.css);

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    box-sizing: border-box;
}

/* main css */
.container {
    width: 1280px;
    margin: 0 auto;
    padding: 25px 40px;
}

/* navigation menu */
header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}

.nav-menu__container {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    margin: 0 auto;
}

.logo-container h1 {
    font-family: 'Georgia';
    color: #F1CDB3;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 2px;
    margin-top: 8px;
}

.logo-container p {
    margin-top: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.11em;
    color: #fff;
}

.nav-menu__list {
    position: relative;
    display: flex;
    gap: 35px;
}

.nav-menu__list li {
    position: relative;
}

.nav-menu__list li>a {
    font-size: 15px;
    color: #CDCDCD;
    position: relative;
}

.nav-menu__list li:first-child::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #F1CDB3;
    bottom: -7px;
    left: 0;
    transition: 0.3s ease;
}

.nav-menu__list li::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: #F1CDB3;
    bottom: -7px;
    left: 0;
    transition: 0.3s ease;
}

.nav-menu__list li:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #F1CDB3;
    bottom: -7px;
    left: 0;
}
/* Not Only Section */
.not-only {
    height: 908px;
    background: url(../images/notOnlySection/start-screen-gradient-background.png) 0 0/40px 70px, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
}

.not-only__container {
    position: relative;
    color: #fff;
    height: 100%;
    background: url(../images/notOnlySection/start-screen-puppy.png) 93% 100% no-repeat;
}

.not-only_right_content {
    height: 100%;
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 42px;
    padding-top: 101px;
}

.not-only_right_content h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    width: 310px;
    line-height: 57px;
}

.not-only_right_content p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.not-only__link {
    background: #F1CDB3;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    padding: 15px 45px;
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #000;
}

/* Not Only Section */